.product-image-thumbnail {
  height: 50px;
}

.main-content {
  ul {
    li {
      img.product-image-thumbnail {
        margin-bottom: 2.5rem;
      }
    }
  }

  img.img-fluid {
    margin-bottom: 2.5rem;
    min-width: 200px;
  }
}

.ul-max-width {
  max-width: 150px;
}

@media (min-width: 768px) {
  .navbar-brand {
    font-size: 1.75rem;
  }
  .nav-item {
    font-size: 1.25rem;
    padding-left: .25rem;
  }

  .main-content {
    ul {
      li {
        font-size: 1.75rem;
        .product-image-thumbnail {
          height: 100px;
        }
      }
    }

    img.img-fluid {
      margin-right: 2rem;
    }
  }
}

@media (max-width: 576px) {
  .final-product-image-max-height-sm {
    max-height: 280px;
  }
}

.final-product-image-max-width {
  max-width: 280px;
}
