.product-image-thumbnail {
  height: 50px;
}

// 最後產品頁面的個別圖片做最大寬度限制
.final-product-image-max-width {
  max-width: 280px;
}

.main-content {
  ul {
    li {
      img.product-image-thumbnail {
        margin-bottom: 2.5rem;
      }
    }
  }

  // 最後產品頁面的所有圖片最小寬度是200px
  img.img-fluid {
    margin-bottom: 2.5rem;
    min-width: 200px;
  }
}

// 針對桌機（寬螢幕）做特別處理
@media (min-width: 768px) {
  .navbar-brand {
    font-size: 1.75rem;
  }
  .nav-item {
    font-size: 1.25rem;
    padding-left: .25rem;
  }

  .main-content {
    ul {
      li {
        font-size: 1.6rem;
        .product-image-thumbnail {
          height: 90px;
        }
      }
    }

    img.img-fluid {
      margin-right: 2rem;
    }
  }
}

// 針對手機（窄螢幕）做特別處理
@media (max-width: 576px) {
  .final-product-image-max-height-sm {
    max-height: 280px;
  }
}

.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.contact-address-font-size {
  font-size: 1.3rem;
}
